<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<div style="font-size:20px;font-style:italic;font-weight:bold">Please do not reply to this email!</div>
		<p>Your suggestion has been approved by your host(s).</p>
    <p>Thanks and have a great day!</p>

  </body>
</html>

