<%= form_for([@event, @potluck_item]) do |f| %>
  <% if @potluck_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@potluck_item.errors.count, "error") %> prohibited this potluck_item from being saved:</h2>

      <ul>
      <% @potluck_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
