<div class="row-fluid" style="margin-bottom:2em">
	<span class="span3 headers">Category</span>
	<span class="span4 headers">Available Items</span>
	<span class="span4 headers">Taken Items</span>
</div>
<%= render :partial => "list_info", :collection => @event.potluck_items, :locals => {:event => @event, :user => current_user }, :spacer_template => "events/spacer_hr" %>
<br />
<button href="#newPotluckItemModal" id="newPotluckItems" class="btn btn-primary" data-toggle="modal">New Items</button>
<script>
	$(document).ready(function(){

		$("#newPotluckItems").click(function(){
			var url = document.location.pathname+"/potluck_items/new";

			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					$("#newPotluckItemModal").find(".modal-body").html(data);
					$("#newPotluckItemModal").modal("show");
				},
				error: function(xhr, errorText, errorObject){
					newPotluckItemModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve form for new guest. Please contact the administrator about this</div>");
				}
			});
		});

		$(".removePotluckItems").click(function(){
			var url = $(this).attr('href');
			var id = url.substr(url.lastIndexOf("/")+1);
			$.ajax({
				url: url,
				dataType: "html",
				data: id,
				type: "DELETE",
				async: false,
				success: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Items have been removed from your list");
					$("#potluck_list").click();
				},
				error: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#notice").html("List category cannot be removed since there are some items that have been rsvped by guests");
				}
			});
			return false;
		});

		$(".editPotluckItems").click(function(){
			var editPotluckItemPath = $(this).attr("href"), editPotluckItemModal = $("#editPotluckItemModal"), url;
			url = editPotluckItemPath.match(/\/events.+/);
			$("#editPotluckItemModal").attr("data-remote", url);
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					editPotluckItemModal.find(".modal-body").html(data);
					editPotluckItemModal.modal("show");
				},
				error: function(xhr, errorText, errorObject){
					editPotluckItemModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve information for guest. Please contact the administrator about this</div>");
				}
			});
			return false;
		});
	});
</script>
