<div id="flash_notice"><%= flash[:notice] %></div>
<%= render 'form_new' %>
<script>

	$(document).ready(function(){

		function createPotluckItemObject(item){
			var multiplierIndex = item.indexOf("*");
			if (multiplierIndex != -1){
				var dish = item.substr(0, multiplierIndex);
				var quantity = item.substr(multiplierIndex + 1);
				if ($.isNumeric($.trim(quantity)))
					return { "item": $.trim(dish), "quantity": parseInt($.trim(quantity), 10) };
				else
					return { "item": $.trim(dish), "quantity": 1 }
			} else {
				return {"item": $.trim(item), "quantity": 1 };
			}
		}

		$("#submit_button").click(function(){
			var dish_array = [];
			var list_items = $("#list_area").val();
			var url = $("#potluckItemsForm").attr('action');
			var serialized_form;

			$("#flash_notice").removeClass("alert alert-error");
			$("#flash_notice").html("");

			dish_array = $.map(list_items.split(","), function(item, index){
				if ($.trim(item).length > 0)
					return createPotluckItemObject(item);
			});

			$("#potluck_item_dishes").val(JSON.stringify(dish_array));

			serialized_form = $("#potluckItemsForm").serialize();
			$.ajax({
				url: url,
				dataType: "html",
				type: "POST",
				data: serialized_form,
				async: false,
				success: function(data, successText){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Items have been created for this event");
					$("#newPotluckItemModal").modal("hide");
				},
				error: function(){
					$("#flash_notice").addClass("alert alert-error");
					$("#flash_notice").html("We couldn't add this potluck category due to the following possible reasons<ul><li>Categories and host quantity need to be present</li><li>Categories need to be unique and items need to be unique per category</li><li>Host quantity needs to be a number</li></ul>");
				}
			});
			return false;
		});

	});

</script>
