<div id="flash_notice"><%= flash[:notice] %></div>
<%= render 'form_new' %>
<script>

	$(document).ready(function(){
		$("#add_more_items").click(function(){
			var item_list = $("#list_items");
			var additionalDiv = $("<div></div>");
			var itemText = $("<input type='text' class='input-large' placeholder='List item here ....'>");
			var removeButton = $("<button class='btn btn-small btn-danger' style='margin-bottom:0.5em;margin-left:0.5em'><i class='icon-remove-sign'></i></button>");
			removeButton.click(function(){
				additionalDiv.remove();
			});
			additionalDiv.appendTo(item_list);
			itemText.appendTo(additionalDiv);
			removeButton.appendTo(additionalDiv);
			return false;
		});

		$("#submit_button").click(function(){
			var dish_array = [];
			var url = $("#potluckItemsForm").attr('action');
			var serialized_form;

			$("#flash_notice").removeClass("alert alert-error");
			$("#flash_notice").html("");

			$(".input-large").each(function(index, input){
				if ($.trim($(input).val()) != "")
					dish_array.push($(input).val());
			});

			$("#potluck_item_dishes").val(JSON.stringify(dish_array));

			serialized_form = $("#potluckItemsForm").serialize();
			$.ajax({
				url: url,
				dataType: "html",
				type: "POST",
				data: serialized_form,
				async: false,
				success: function(data, successText){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Items have been created for this event");
					$("#newPotluckItemModal").modal("hide");
				},
				error: function(){
					$("#flash_notice").addClass("alert alert-error");
					$("#flash_notice").html("We couldn't add this potluck category due to the following possible reasons<ul><li>Categories and host quantity need to be present</li><li>Categories need to be unique and items need to be unique per category</li><li>Host quantity needs to be a number</li></ul>");
				}
			});
			return false;
		});

	});

</script>
