
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
			<%= @attendee.full_name %> has confirmed that they are not coming to your event: <%= @event.name %><br />
			Their reason:  <% if @attendee.comment.blank? %>"None"<% else %> <%= @attendee.comment %><% end %>
    </p>
  </body>
</html>

