<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
	<body>
		<div class="alert">What is this app about?</div>
		<div style="display:block; margin: 1em 0 1em 0">The primary purpose of this app is to help people plan, manage and collaborate on potlucks easier and more efficiently.</div>
		<div class="alert">Can I use this app for other events like baby showers, birthdays and other events?</div>
		<div style="display:block; margin: 1em 0 1em 0">While this app was originally intended for potlucks, you can use this app for events as you see fit.</div>

		<div class="alert">What are some of the key features about this app?</div>
		<div style="display:block; margin: 1em 0 1em 0"><ul><li>Create your own custom potluck lists (e.g. Appetizers, Board games, Snacks, Movies, etc).</li><li>Easily RSVP with potluck items.</li><li>Easily track the total amount of guests attending, not coming and undecided.</li><li>An easy-to-use dashboard which provides the information you need to know fast</li><li>Easily notify groups of individuals or individual emails at a time.</li><li>Automated email reminders that remind guests to rsvp and that the event is coming.</li></ul></div>

		<div class="alert">Do I have to pay for this?</div>
		<div style="display:block; margin: 1em 0 1em 0">As this is currently in beta, this is free. In return I would like to get your honest feedback about what you like, what you don't like, what could be improved and any potential future features that would encourage you to continue using it.</div>

		<div class="alert">Great! What do I need to do in order to start using this?</div>
		<div style="display:block; margin: 1em 0 1em 0">First, create an account.</div>

		<div class="alert">What is the bare minimum that I need to provide in order to create an event?</div>
		<div style="display:block; margin: 1em 0 1em 0">After you create an account, you should be able to create events pretty easily.  At a bare minimum, you just need to provide a name for the event, the date of the event, and when you need guests to rsvp by.</div>

		<div class="alert">How do I invite guests?</div>
		<div style="display:block; margin: 1em 0 1em 0">As a host, you'll be able to invite guest using the <b>Invite guest</b> option when you are viewing the details of the event. You'll be able to invite guests via comma-delimited emails (e.g. email1, email2, email3). This is the preferred method of adding the guests to your event since the system will automatically take care of adding them rather than you manually providing that information via <b>The guest list</b>.</div>

		<div class="alert">Can I manually add guests without using the <b>Invite guest</b> option?</div>
		<div style="display:block; margin: 1em 0 1em 0">I understand that certain guests may not have email and would rather call you instead of using the system. For this purpose, this app will allow you to rsvp on their behalf. You can do so by using the <b>The guest list</b> option (enter guest manually and rsvp for them).</div>

		<div class="alert">What kind of lists can I create?</div>
		<div style="display:block; margin: 1em 0 1em 0">You can pretty much create any type of list you wish: Appetizers, Snacks, Beer/Alcohol, Boardgames, Movies, Xbox games, etc. For example, create a list with Games as your category and enter each game on a separate field (you can dynamically add as many items as you wish for a particular category).</div>

		<div class="alert">Do you have any recommendations on effectively creating list?</div>
		<div style="display:block; margin: 1em 0 1em 0">You can pretty much create any type of list you wish: Appetizers, Snacks, Beer/Alcohol, Boardgames, Movies, Xbox games, etc. However, it's best that you be as specific as possible with your categories so that your items will be easily categorized and specific. A category of Food and having 30+ items is not an easy way to provide lists for your guests AND does not provide you an easy way to see what guests are bringing. Therefore, having specific categories like Snacks, you can then differentiate items like Chips/Salsa, Pretzels, Peanuts, Bite-size candy. The next list could then be Appetizers with items such as Spring Rolls, Nachos, Taquitos, Buffalo Wings.</div>

		<div class="alert">What is this <b>Host quantity</b> that I am seeing when I create my list?</div>
		<div style="display:block; margin: 1em 0 1em 0">That is a poorly-labeled field. That is meant to represent the number of items you need for guest to contribute for the potluck. For example, you create a list of category Boardgames with a host quantity of 2 and provide 5 games as suggestions. This is primarily for you to keep track of whether or not your "quota" for that particular category has been met.</div>

		<div class="alert">When I send someone a message, how does that work?</div>
		<div style="display:block; margin: 1em 0 1em 0">The message gets routed to their email account specified. Therefore, they will get the message as you send it.</div>

		<div class="alert">i keep getting messages from devmailer@gmail.com.  what's this about?</div>
		<div style="display:block; margin: 1em 0 1em 0">That is the automated emailer that sends messages to users and guests of this sytem. until i get a more professional name for this emailer, the name remains. therefore, please advise people to not label this as spam. When you send a message using this app, you'll see the subject where it belongs but the message will start with "a message from name" followed by the message contents.</div>

		<div class="alert">What should I do if I encounter a problem with the app or if there are defects?</div>
		<div style="display:block; margin: 1em 0 1em 0">Email me at cavenator@gmail.com and provide me a description of what the defect is and how to reproduce it (e.g. the steps that you took in order to encounter this defect).</div>

		<div class="alert">Do you anticipate delivering new features while this is in beta?</div>
		<div style="display:block; margin: 1em 0 1em 0">Yes, I do. So far, the following features will be released sometime during beta-testing and you'll be notified: <ul><li>Ability to save distribution-list so you could easily import them into an event</li><li>Export potluck items that no one rsvped with</li><li>Export the guest list</li></ul>If there are things that the majority of users are bringing to my attention, I'll prioritize it accordingly.</div>

		<div class="alert">What if I have an idea for some killer features?</div>
		<div style="display:block; margin: 1em 0 1em 0">Email me at cavenator@gmail.com and let me know. I would love to hear feedback about how you are enjoying my app, what you do not like about it and if you have any ideas on how to make it better.</div>

		<div class="alert">How fast can you get new features and fixes out?</div>
		<div style="display:block; margin: 1em 0 1em 0">Depends on the complexity and how much time I have. Since I do work full-time and I am the only developer supporting this, my availability is not much. However, if you do encounter a defect that is a show-stopper and prevents you from managing your event, please raise it to my attention and I'll work on it as quickly as I can.</div>

		<div class="alert">How long will this beta-phase last?</div>
		<div style="display:block; margin: 1em 0 1em 0">I am only planning on having this live until June 1st. However, if you really do enjoy using it and want to continue to use it, please let me know. If there are enough users that want to continue to use this, I'll keep it going longer.</div>
	</body>
</html>
