<div class="row" style="vertical-align:-webkit-baseline-middle;text-align:left">
	<div class="span4">
		<% if nonresponsive_attendee.full_name.blank? %><%= nonresponsive_attendee.email %> <% else %><%= nonresponsive_attendee.full_name %> <% end %>
		<% unless nonresponsive_attendee.email.blank? %><%= link_to "", nonresponsive_attendee.event.id.to_s+'/attendees/'+nonresponsive_attendee.id.to_s+'/email_guest', {:style=>"color:blue", :class => "btn btn-link email_individual icon-envelope"} %><% end %>
	</div>
	<div class="span8">
		<p>Comment(s): <% if nonresponsive_attendee.comment.blank? %>None<% else %><%= nonresponsive_attendee.comment %><% end %></p>
	</div>
</div>
