<h2>Add attendees to your event</h2>
<div id="alert-flash">
</div>
<div class="row">
	<div class="span8 offset1">
			<div id="form-proxy">
				<div>
					<input type="text" class="input-large" placeholder="Email">
				</div>
			</div>
	</div>
	<div class="span9 offset1">
			<button id="add-more" class="btn btn-success">Add more ...</button>
			<button id="submit" class="btn btn-primary">Send</button>
	</div>
<div>
<form accept-charset="UTF-8" action="" class="form-horizontal" method="post">
		<input type="hidden" name="email_invites" id="email_invites" value="" >
</form>
<script>
  $(document).ready(function(){
		$("#add-more").click(function(){
			var form = $("#form-proxy");
			var additionalDiv = $("<div></div>");
			var emailText = $("<input type='text' class='input-large' placeholder='Email'>");
			var removeButton = $("<button class='btn btn-small btn-danger' style='margin-bottom:0.5em;margin-left:0.5em'>Remove</button>");
			removeButton.click(function(){
				additionalDiv.remove();
			});
			emailText.click(function(){
				$(this).removeAttr('style');
			});
			additionalDiv.appendTo(form);
			emailText.appendTo(additionalDiv);
			removeButton.appendTo(additionalDiv);
		});
		$("#submit").click(function(){
			var outputJSON = {};
			var emailArray = [];
			$(".input-large").each(function(index, data){
					var value = $(data).val();
					if ($.trim(value).length == 0){
						$(data).css('background-color','red');
						return true;
					}
					emailArray.push(value);
			});
			if ( $(".input-large[style]").length > 0){
				var count = $(".input-large[style]").length;
				$("#alert-flash").addClass("alert alert-error");
				$("#alert-flash").text("There are currently "+count+" blank email entries. Please either remove them or populate them.");
			}
			else {
				outputJSON["email"] = emailArray;
				$("#email_invites").val(JSON.stringify(outputJSON));
				$(".form-horizontal").submit();
/*				var invite_guest_link = document.location.pathname.replace("add_attendees","invite_guests");
				$.ajax({
					url: invite_guest_link,
					type: 'POST',
					data: 'email_invites='+JSON.stringify(outputJSON),
					dataType: 'html',
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
					success: function(data){ alert("success"); alert(data);},
					error: function() { alert("error"); }
				});*/
//Be sure to post this and do some work.
			}
		});

		//Need this for the first entry since the others are dynamically added.
		$(".input-large").click(function(){ $(this).removeAttr('style'); });
		$(".form-horizontal").attr("action",document.location.pathname.replace("add_attendees","invite_guests"));
	});
</script>

