<h2>Add attendees to your event</h2>
<div id="alert-flash">
</div>
<div class="row">
	<div class="span8 offset1">
			<div id="form-proxy">
				<div>
					<input type="text" class="input-large" placeholder="Email">
				</div>
			</div>
	</div>
	<div class="span9 offset1">
			<button id="add-more" class="btn btn-success">Add more ...</button>
			<button id="submit" class="btn btn-primary">Send</button>
	</div>
<div>
