<div id="alert-flash">
</div>
<div class="row">
	<div class="span8 offset1">
			<div id="form-proxy">
				<div class="input-prepend" style="display:block"><span class="add-on"><i class="icon-envelope"></i></span>
					<textarea id="email_area" rows="10" style="width:60%" placeholder="E.g. email1, email2, email3" ></textarea>
				</div>
			</div>
	</div>
	<div class="span9 offset1">
			<button id="send-invitations" class="btn btn-primary">Send</button>
	</div>
</div>
<form accept-charset="UTF-8" action="" class="form-horizontal" method="post">
		<input type="hidden" name="email_invites" id="email_invites" value="" >
</form>
<script>
  $(document).ready(function(){

		$("#send-invitations").click(function(){
			var outputJSON = {};
			var emailArray = [];
			var value = $("#email_area").val();

			if ($.trim(value).length == 0){
				$("#email_area").css('background-color','red');
			} else {
				emailArray = value.split(",");
				emailArray = $.map(emailArray, function(data){
					return $.trim(data);
				});
			}

			if ( $("#email_area[style]").length > 0){
				$("#alert-flash").addClass("alert alert-error");
				$("#alert-flash").text("There are currently no email entries. Please populate them.");
			}
			else {
				outputJSON["email"] = emailArray;
				$("#email_invites").val(JSON.stringify(outputJSON));
				var invite_guest_link = document.location.pathname+"/attendees/invite_guests", serialized_form = $(".form-horizontal").serialize();
				$.ajax({
					url: invite_guest_link,
					type: 'POST',
					data: serialized_form,
					dataType: 'html',
					async: false,
					success: function(data){
						$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
						$("#notice").html("Invitations have been processed. Take a look at your guest list to see who has been added");
						$("#guests").click();
					},
					error: function() {
						$(".form-horizontal").prepend("<div class='alert alert-error'>Invitations could not be sent out! Please contact your administrator and describe how to reproduce this issue</div>");
					}
				});
				return false;
			}
		});

		//Need this for the first entry since the others are dynamically added.
		$("#email_area").click(function(){ $(this).removeAttr('style'); });
	});
</script>

