<h3>Invite Guests via email</h3>
<%= render :partial=>"add_attendees", :locals => { :event => @event } %>
<p></p>
<hr/>
<h3>The Guest list</h3>
<div id="flash-notice"></div>
<div class="row-fluid" style="margin-bottom:2em">
	<span class="span1 headers"></span>
	<span class="span4 headers">Name</span>
	<span class="span4 headers">Email address</span>
	<span class="span2 headers">RSVP</span>
</div>
	<%= render :partial => "guest_info", :collection => @event.attendees, :locals => {:event => @event, :user => current_user }, :spacer_template => "events/spacer_hr" %>
<div class="row" style="margin-top:2.5em">
	<button style="margin-left:50px" href="#newAttendeeModal" id="newAttendeeButton" class="btn btn-primary" data-toggle="modal">Add Guest</button>
<% unless @event.get_unique_guest_email_list.blank? %>
	<button id="sendUpdatedCalendars" class="btn btn-info"><i class="icon-calendar"></i> Send to all</button>
	<div style="float:right" id="emailAllGuestDiv"><%= link_to 'Email all guests',{:controller => :events, :action => :group_email, :id => @event.id }, {:style=>"margin-bottom: 1em;color:blue", :class => "btn btn-link", :id=>"emailAllGuests"} %></div>
<% end %>
</div>
<script>
	$(document).ready(function(){

		function clearMainDiv(){
			$("#notice").removeClass("alert alert-error alert-success");
			$("#notice").empty();
		}

		function populateMainDiv(cssClasses, msg){
			$("#notice").removeClass("alert alert-error alert-success").addClass(cssClasses);
			$("#notice").html(msg);
		}

		function populateFlashDiv(cssClasses, msg){
			$("#flash-notice").removeClass("alert alert-error alert-success").addClass(cssClasses);
			$("#flash-notice").html(msg);
			clearMainDiv();
		}

		$("#newAttendeeButton").click(function(){
			var url = document.location.pathname+"/attendees/new", newAttendeeModal = $("#newAttendeeModal");
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					newAttendeeModal.find(".modal-body").html(data);
					newAttendeeModal.modal("show");
				},
				error: function(xhr, errorText, errorObject){
					newAttendeeModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve form for new guest. Please contact the administrator about this</div>");
				}
			});
		});

		$(".promotion").click(function(){
			$.ajax({
				url: $(this).attr('href'),
				method: "PUT",
				success: function(){
					populateMainDiv("alert alert-success","Permissions have been changed successfully");
					$("#guests").click();
				},
				error: function(){
					populateMainDiv("alert alert-error","Guest cannot be promoted to co-host. Please contact your administrator");
				}
			});
			return false;
		});

		$(".individualInvite").click(function(){
			var confirmation = confirm("This will send an invite. Do you still want to proceed?");
			if (confirmation){
				$.ajax({
					url: $(this).attr('href'),
					success: function(){
						populateFlashDiv("alert alert-success","Calendar invite for guest has been sent");
						$("#guests").click();
					},
					error: function(){
						populateFlashDiv("alert alert-error","Calendar invite could not be processed correctly. Please contact your administrator");
					}
				});
			}
			clearMainDiv();
			return false;
		});

		$(".removeAttendee").click(function(){
			var url = $(this).attr('href');
			var id = url.substr(url.lastIndexOf("/")+1);
			$.ajax({
				url: url,
				dataType: "html",
				data: id,
				type: "DELETE",
				async: false,
				success: function(){
					populateMainDiv("alert alert-success","Guest has been successfully removed from event");
					$("#guests").click();
				},
				error: function(){
					populateFlashDiv("alert alert-error","Guest cannot be removed from the event. Please contact your administrator");
				}
			});
			return false;
		});

		$(".editAttendee").click(function(){
			var editAttendeePath = $(this).attr("href"), editAttendeeModal = $("#editAttendeeModal"), url;

			//initialize the modal
			url = editAttendeePath.match(/\/events.+/);
			$("#editAttendeeModal").attr("data-remote", url);
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					editAttendeeModal.find(".modal-body").html(data);
					editAttendeeModal.modal("show");
				},
				error: function(xhr, errorText, errorObject){
					editAttendeeModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve information for guest. Please contact the administrator about this</div>");
				}
			});
			return false;
		});

		function shouldEmailAndCalendarButtonStillBeHere(){
			var counter = 0, email = "";
			$.map($(".attendee_email"), function(val, i){
				email = $(val).text();
				if (email != "")
					counter++;
			});

			if (counter == 0){
				$("#sendUpdatedCalendars").remove();
				$("#emailAllGuestDiv").empty();
			}
		}

		function loadEmailTemplate(emailObject){
		var url = $(emailObject).attr('href'), emailModal = $("#emailModal");

		emailModal.attr('data-remote',url);
		$.ajax({
			url: url,
			dataType: "html",
			success: function(data){
				emailModal.find(".modal-body").html(data);
				emailModal.modal("show");
			},
			error: function(xhr, errorText, errorObject){
				emailModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve template for emailing guest. Please contact the administrator about this</div>");
			}
		});
	}

	$("#emailAllGuests").click(function(){
			loadEmailTemplate($(this));
			return false;
		});

	$("#sendUpdatedCalendars").click(function(){
		var url = document.location.pathname;
		var confirmation = confirm("This will send updated event info to all guests. Do you still want to proceed?");
		if (confirmation){
			$.ajax({
				url: url+"/attendees/send_updated_calendar",
				type: "GET", 
				async: true,
				success: function(){
					populateFlashDiv("alert alert-success","Calendar events have been sent to your guests");
				},
				error: function(){
					populateFlashDiv("alert alert-error","Error trying to send guest updated calendars. Please contact your adminstrator");
				}
			});
		}
	});

		$("#add-distribution-group").click(function(){
			var url = document.location.pathname+"/get_host_groups";
			$("#alert-flash").empty();
			$("#alert-flash").removeClass("alert alert-error alert-success");
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					$("#addFromGroupsModal").find(".modal-body").html(data);
					$("#addFromGroupsModal").modal("show");
				},
				error: function(){
					$("#alert-flash").addClass("alert alert-error");
					$("#alert-flash").html("Problems fetching your groups. Please contact your administrator");
				}
			});
			return false;
		});

		$("#send-invitations").click(function(){
			var outputJSON = {};
			var emailArray = [];
			var value = $("#email_area").val();

			if ($.trim(value).length == 0){
				$("#email_area").css('background-color','red');
			} else {
					value = value.replace(/\r|\n/g,"");
					emailArray = value.split(",");
					emailArray = $.map(emailArray, function(data){
					return $.trim(data);
				});
			}

			if ( emailArray.length == 0){
				$("#alert-flash").addClass("alert alert-error");
				$("#alert-flash").text("There are currently no email entries. Please populate them.");
			}
			else {
				outputJSON["email"] = emailArray;
				var invite_guest_link = document.location.pathname+"/attendees/invite_guests";
				$.ajax({
					url: invite_guest_link,
					type: 'POST',
					data: 'email_invites='+JSON.stringify(outputJSON),
					dataType: 'json',
					async: false,
					success: function(data){
						populateMainDiv("alert alert-success", "Invitations have been processed and emails will be sent out to those added to your guest list");
						$("#guests").click();
					},
					error: function() {
						$(".form-horizontal").prepend("<div class='alert alert-error'>Invitations could not be sent out! Please contact your administrator and describe how to reproduce this issue</div>");
					}
				});
				return false;
			}
		});

		//Need this for the first entry since the others are dynamically added.
		$("#email_area").click(function(){ $(this).css('background-color',''); });
	});
</script>
