<h1>Invite Confirmation</h1>
<% if @invites["successful"].length > 0 %>
<div class="alert alert-success">The following emails have been successfully and should be delivered soon:</div>
<div class="row">
<div class="span6 offset2">
<% @invites["successful"].each do |email| %>
	<%= email %>
<% end %>
</div>
</div>
<br/>
<% end %>

<% if @invites["unsuccessful"].length > 0 %>
<div class="alert alert-error">These emails were invalid and could not be sent:</div>
<div class="row">
<div class="span6 offset2">
<% @invites["unsuccessful"].each do |email| %>
	<%= email %>
<% end %>
</div>
</div>
<br/>
<% end %>

<% if @invites["duplicated"].length > 0 %>
<div class="alert alert-info">These emails were already sent out sometime ago: </div>
<div class="row">
<div class="span6 offset2">
<% @invites["duplicated"].each do |email| %>
	<%= email %>
<% end %>
</div>
</div>
<br/>
<% end %>

<%= link_to 'Back To event', @event %>
