<%= render 'form_new' %>

<script type="text/javascript">

		function rsvp(){
			console.log("rsvp is loaded");
			var answer = $("#attendee_rsvp").val();
			if (answer == "Going"){
				$("#guestcount_div").show();
				$("#add_items").show();
			} else {
				$("#guestcount_div").hide();
				$("#add_items").hide();
			}
		}

		$(document).ready(function(){
			var category_array = [], dishes = {}, flash_message = $("#flash-message"), taken_queue = [];

			if (flash_message.text().length > 0)
				flash_message.addClass("alert alert-info");
			$("#guestcount_div").hide();
			$("#attendee_rsvp").val("No Response").change();

			function updateCharLimit(){
				var limit = 255, num_of_chars = $("#attendee_comment").val().length, countDownSpan = $("#count-down-limit");
				if (num_of_chars == 0){
					countDownSpan.text("You have "+limit+" characters left");
				} else if (limit - num_of_chars > 0){
					countDownSpan.text("You have "+(limit - num_of_chars)+" character(s) left");
				} else if (num_of_chars == limit){
					countDownSpan.text("You have reached your limit");
				} else {
					countDownSpan.text("You have exceeded your limit! Please reduce your comment.");
				}
			}

			updateCharLimit();

			$("#attendee_comment").keyup(function(){
				updateCharLimit();
			});

			$.ajax({
				url: window.location.pathname.replace("attendees/new","")+"/potluck_items.json",
				dataType: "json",
				type: "GET",
				async: false,
				success: function(data){
					$.each(data, function(index, item){
						category_array.push(item.category);
						dishes[item.category] = item.dishes;
					});
				}
			});

		$("#new_attendee_submit").click(function(){
				var attendee_rsvp = $("#attendee_rsvp").val();
				var attendee_guestcount = $("#attendee_num_of_guests").val();
				var rsvp_item_array = [];
				var items_collection = $(".item");
				var url = $("#newAttendeeForm").attr('action');
				var serialized_form;
				if (attendee_rsvp != "Going"){
					$("#attendee_num_of_guests").val(0);
					$("#attendee_category").val("");
					$("#attendee_dish").val("");
					$("#attendee_bringing_custom").removeAttr('checked');
				} else {
					$.each(items_collection, function(index, item){
						var hash_object, category = $(item).find("#attendee_category").val(), dish_item = $(item).find("#attendee_dish").val(), is_custom = $(item).find("#is_custom").is(":checked");
						if ($.trim(category) != "" && $.trim(dish_item) != ""){
							hash_object = {"category": category, "item": dish_item, "is_custom":is_custom};
							rsvp_item_array.push(hash_object);
						}
					});
				}
				$("#newAttendeeForm").append("<input type='hidden' name='attendee[dish]' value='"+JSON.stringify(rsvp_item_array)+"' />");
				serialized_form = $("#newAttendeeForm").serialize();
				$.ajax({
					url: url,
					dataType: "html",
					type: "POST",
					data: serialized_form,
					async: false,
					success: function(data, successText){
						$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
						$("#notice").html("Guest has been created successfully");
						$("#newAttendeeModal").modal("hide");
					},
					error: function(xhr, errorText, errorObject){
						console.log(xhr);
						console.log(errorObject);
						$("#newAttendeeForm").prepend("<div class='alert alert-error'>"+errorText+": Problem creating new guests. Please check your emails to make sure there wasn't any duplicates and if you did RSVP with items, make sure they have both a category and an item</div>");
					}
				});
				return false;
			});
		});

</script>
