<div class="row">
	<div class="span6">
		<h3><%= available_items["category"] %>
	</div>
</div>
<div class="row">
	<div class="span6">
		<% available_items["available_items"].each do |item| %>
			<% unless item["quantity"] == 0 %>
				<%= item["item"] %> x <%= item["quantity"] %> <br/>
			<% end %>
		<% end %>
	</div>
</div>


