<div class="row">
	<div class="span6">
		<h3><%= taken_items["category"] %>
	</div>
</div>
<div class="row">
	<div class="span6">
		<% taken_items["taken_items"].each do |item| %>
			<%= item %> <br/>
		<% end %>
	</div>
</div>


