<div class="row">
	<div class="span6 offset1">
		<h3><%= taken_items["category"] %>
	</div>
	<div class="span6 offset1">
		<% taken_items["taken_items"].each do |item| %>
			<%= item %> <br/>
		<% end %>
	</div>
</div>


