<div class="row">
	<div class="span3">
		<h3><%= taken_items["category"] %>
	</div>
	<div class="span4">
		<% taken_items["taken_items"].each do |item| %>
			<%= item %> <br/>
		<% end %>
	</div>
</div>


