<div class="row" style="vertical-align:-webkit-baseline-middle;text-align:left">
	<div class="span3">
		<% if unattending_attendee.full_name.blank? %><%= unattending_attendee.email %> <% else %><%= unattending_attendee.full_name %> <% end %>
		<% unless unattending_attendee.email.blank? %><%= link_to "", unattending_attendee.event.id.to_s+'/attendees/'+unattending_attendee.id.to_s+'/email_guest', {:style=>"color:blue", :class => "btn btn-link email_individual icon-envelope"} %><% end %>
	</div>
	<div class="span5">
		<p>Comment(s): <% if unattending_attendee.comment.blank? %>None<% else %><%= unattending_attendee.comment %><% end %></p>
	</div>
</div>
