<div class="guest_breakpoint">
	<p><% if unattending_attendee.full_name.blank? %> <%= unattending_attendee.email %> <% else %> <%= unattending_attendee.full_name %><% end %>
<% unless unattending_attendee.email.blank? %><span style="float:right"><%= link_to "Email guest", unattending_attendee.event.id.to_s+'/attendees/'+unattending_attendee.id.to_s+'/email_guest', {:style=>"color:blue", :class => "btn btn-link email_individual"} %></span><% end %></p>
	<p>Comment(s): <%= unattending_attendee.comment %></p>
</div>

