<div class="guest_breakpoint">
	<table style="width:100%">
		<thead>
			<tr>
				<th style="width:30%"></th>
				<th style="width:30%"></th>
				<th style="width:30%"></th>
			</tr>
		</thead>
		<tbody style="vertical-align:-webkit-baseline-middle;text-align:center">
			<tr>
				<td style="width:30%">
					<% if undecided_attendee.full_name.blank? %><%= undecided_attendee.email %><% else %><%= undecided_attendee.full_name %><% end %>
				</td>
				<td style="width:30%">
					<p>Comment(s): <% if undecided_attendee.comment.blank? %>None<% else %><%= undecided_attendee.comment %><% end %></p>
				</td>
				<td style="width:30%">
					<% unless undecided_attendee.email.blank? %><span style="float:right"><%= link_to "Email guest", undecided_attendee.event.id.to_s+'/attendees/'+undecided_attendee.id.to_s+'/email_guest', {:style=>"color:blue", :class => "btn btn-link email_individual"} %></span><% end %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
