<div class="guest_breakpoint">
	<p><% if undecided_attendee.full_name %><%= undecided_attendee.full_name %><% else %><%= undecided_attendee.email %><% end %><span style="float:right"><%= link_to "Email guest", undecided_attendee.event.id.to_s+'/attendees/'+undecided_attendee.id.to_s+'/email_guest', {:style=>"color:blue", :class => "btn btn-link"} %></span></p>
	<p>Comment(s): <% if undecided_attendee.comment.blank? %>None<% else %><%= undecided_attendee.comment %><% end %></p>
</div>

