<h1>My events</h1>
<% if flash[:notice] %>
		<div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Event Name</th>
    <th>Time Frame</th>
    <th></th>
		<th></th>
		<th></th>
  </tr>
	</thead>

	<tbody>
<% @events.each do |event| %>
		<% if current_user.id == event.user_id %>
			<%= render :partial=>"index_host", :locals => {:event => event} %>
		<% else %>
			<%= render :partial=>"index_guest", :locals => {:event => event } %>
		<% end %>
<% end %>
</tbody>
</table>
<span class="btn btn-link"><%= link_to 'New Event', new_event_path %></span>
