<h1>New event</h1>

<%= render 'form' %>

<%= link_to 'Back', events_path %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#readable_start_date").datetimepicker({
		dateFormat: 'mm/dd/yy',
		timeFormat: 'hh:mm:ss TT',
		timezoneList: [ 
			{ value: '-0700', label: 'Pacific' } 
		]
		});

		$("#readable_end_date").datetimepicker({
		dateFormat: 'mm/dd/yy',
		timeFormat: 'hh:mm:ss TT',
		timezoneList: [ 
			{ value: '-0700', label: 'Pacific' } 
		]
		});

		$("#readable_rsvp_date").datetimepicker({
		dateFormat: 'mm/dd/yy',
		timeFormat: 'hh:mm:ss TT',
		timezoneList: [ 
			{ value: '-0700', label: 'Pacific' } 
		]
		});

		function loadClientDatesFromServer(){
			var startDateFromModel = $("#start_date");
			var rsvpDateFromModel = $("#rsvp_date");
			var endDateFromModel = $("#end_date");
			if ($.trim(startDateFromModel.val()).length > 0  && $.trim(rsvpDateFromModel.val()).length > 0 && $.trim(endDateFromModel.val()).length > 0){
				$("#readable_start_date").val(new Date(startDateFromModel.val()).toLocaleString());
				$("#readable_rsvp_date").val(new Date(rsvpDateFromModel.val()).toLocaleString());
				$("#readable_end_date").val(new Date(endDateFromModel.val()).toLocaleString());
			}
		}

		function convertDatesForServer(clientSideDate, element){
			var dateInMillis = Date.parse(clientSideDate);
			var dateObject = new Date(dateInMillis);
			$(element).val(dateObject.toUTCString());
		}

		loadClientDatesFromServer();

		$("#event_submit").click(function(){
			convertDatesForServer($("#readable_start_date").val(), $("#start_date"));
			convertDatesForServer($("#readable_rsvp_date").val(), $("#rsvp_date"));
			convertDatesForServer($("#readable_end_date").val(), $("#end_date"));
		});
	});
</script>
