<h1>New event</h1>

<%= render 'form' %>

<%= link_to 'Cancel', events_path, :class=>"btn" %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#readable_start_date").datetimepicker({
		dateFormat: 'mm/dd/yy',
		timeFormat: 'hh:mm:ss TT',
		timezoneList: [ 
			{ value: '-0700', label: 'Pacific' } 
		],
		onClose: function(){
			if ($.trim($(this).val()).length > 0){
				var startDate = $(this).val();
				var millis = Date.parse(startDate), oneDayMillis = 86400000, threeHoursMillis = 10800000, end_date = $("#readable_end_date"), rsvp_date = $("#readable_rsvp_date");
				if ($.trim(end_date.val()).length == 0){
					end_date.val(convertDatesToReadableClient(new Date(millis+threeHoursMillis)))
				}
				if ($.trim(rsvp_date.val()).length == 0){
					rsvp_date.val(convertDatesToReadableClient(new Date(millis-oneDayMillis)));
				}
			}
		}
		});

		$("#readable_end_date").datetimepicker({
		dateFormat: 'mm/dd/yy',
		timeFormat: 'hh:mm:ss TT',
		timezoneList: [ 
			{ value: '-0700', label: 'Pacific' } 
		]
		});

		$("#readable_rsvp_date").datetimepicker({
		dateFormat: 'mm/dd/yy',
		timeFormat: 'hh:mm:ss TT',
		timezoneList: [ 
			{ value: '-0700', label: 'Pacific' } 
		]
		});

		function convertDatesToReadableClient(dateObject){
			var day = dateObject.getDate();
			var month = dateObject.getMonth()+1;
			var year = dateObject.getFullYear();
			var hour = dateObject.getHours();
			var minute = dateObject.getMinutes();
			var second = "00";
			var meridian = hour > 11 ? "PM":"AM";
			day = day < 10?"0"+day:day;
			month = month < 10? "0"+month: month;
			minute = minute < 10? "0"+minute: minute;
			hour = (hour % 12) > 0 && (hour % 12) < 10? "0"+(hour%12): ( hour % 12 == 0? "12":hour%12);
			return month+"/"+day+"/"+year+" "+hour+":"+minute+":"+second+" "+meridian;
		}

		function loadClientDatesFromServer(){
			var startDateFromModel = $("#start_date");
			var rsvpDateFromModel = $("#rsvp_date");
			var endDateFromModel = $("#end_date");
			var crossCompatibleStart = startDateFromModel.val().replace(/\-/,"/").replace(/\-/,"/");
			var crossCompatibleEnd = endDateFromModel.val().replace(/\-/,"/").replace(/\-/,"/");
			var crossCompatibleRsvp = rsvpDateFromModel.val().replace(/\-/,"/").replace(/\-/,"/");
			if ($.trim(crossCompatibleStart).length > 0){
				$("#readable_start_date").val(convertDatesToReadableClient(new Date(crossCompatibleStart)));
			}
			if ($.trim(crossCompatibleRsvp).length > 0){
				$("#readable_rsvp_date").val(convertDatesToReadableClient(new Date(crossCompatibleRsvp)));
			}
			if ($.trim(crossCompatibleEnd).length > 0){
				$("#readable_end_date").val(convertDatesToReadableClient(new Date(crossCompatibleEnd)));
			}
		}

		function convertDatesForServer(clientSideDate, element){
			if ($.trim(clientSideDate) != 0){
				var dateInMillis = Date.parse(clientSideDate);
				var dateObject = new Date(dateInMillis);
				$(element).val(dateObject.toUTCString());
			} else {
				$(element).val("");
			}
		}

		loadClientDatesFromServer();

		$("#event_submit").click(function(){
			convertDatesForServer($("#readable_start_date").val(), $("#start_date"));
			convertDatesForServer($("#readable_rsvp_date").val(), $("#rsvp_date"));
			convertDatesForServer($("#readable_end_date").val(), $("#end_date"));
		});
	});
</script>
