<h3>List info</h3>
<%= render :partial=>"potluck_statistics", :locals => {:event => @event} %>

<div style="margin-top:2em;margin-bottom:2em">
		<h3>Guest info</h3>
		<div class="label label-success">Total number of guest attending: <%= @event.attending_guest_count %></div>
</div>
<div id="guest-info">
</div>
<script>
	$(document).ready(function(){
			$.ajax({
				url: document.location.pathname+"/guests",
				dataType: "html",
				success: function(data){
					$("#guest-info").html(data);
				}
			});
	});
</script>
