<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>A message from <%= @sender.full_name %> (<%= @sender.email %>) regarding <%= @event.name %></h2>
    <p>
			<%= @body %>
    </p>
  </body>
</html>

