<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salutations!</h1>
    <p style="text-align:center;margin:2em 0 2em 0">
			Changes have been made to the following event: <%= @event.name%>.  Attached is the calendar event with the new details.  If you have the previous instance on your Google Calendar, Outlook or calendar software, please replace it with the attached.
		</p>
    <p>Thanks and have a great day!</p>

  </body>
</html>

