<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h2>Invite Confirmations</h2>
			<% if @invitation_summary_hash["successful"].length > 0 %>
			<div style="display: block; border-color: #d6e9c6; background-color: #dff0d8;margin: 1em 1em 1em 1em">The following emails have been successfully processed:</div>
			<div style="display: block">
			<div class="span6 offset2">
				<% @invitation_summary_hash["successful"].each do |email| %>
					<%= email %><br />
				<% end %>
			</div>
		</div>
		<br/>
		<% end %>

		<% if @invitation_summary_hash["unsuccessful"].length > 0 %>
		<div style="display: block;background-color: #f2dede;border-color: #eed3d7;margin: 1em 1em 1em 1em">These emails were invalid (or duplicated) and could not be sent:</div>
			<div style="display: block">
				<div class="span6 offset2">
					<% @invitation_summary_hash["unsuccessful"].each do |email| %>
						<%= email %><br />
					<% end %>
				</div>
			</div>
		<br/>
		<% end %>

	</body>
</html>

