<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<div style="font-size:20px;font-style:italic;font-weight:bold">Please do not reply to this email! Your recipient will not receive it. You can find the appropriate email address below.</div>
    <h2>A message from your host (<%= @event.user.email %>) regarding <%= @event.name %></h2>
    <p>
			<%= simple_format @body %>
    </p>
  </body>
</html>

