<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<div style="font-size:20px;font-style:italic;font-weight:bold">This is a message sent on behalf of <%= @sender.full_name_or_email %> <%= "<#{@sender.email}>" unless @sender.full_name.blank? %> regarding <%= @event.name %>. Please do not reply to this email! </div>
    <p>
			<%= simple_format @body %>
    </p>
  </body>
</html>

