// Place all the styles related to the attendees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-body {
	max-height:700px;
}

.headers {
	vertical-align: bottom;
	padding: 4px 5px;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	font-size: 1.25em;
}

.guest-info-body {
	vertical-align: bottom;
	padding: 4px 5px;
	line-height: 20px;
	text-align: left;
	font-size: 1.1em;
}
