// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.phoney-button {
	border-top: 0.25em solid #CCC;
	border-bottom: 0.25em solid #CCC;
	border-left: 0.25em solid #CCC;
	border-right: 0.25em solid #CCC;
	background-color: #CCC;
	border-radius: 0.50em;
}

.active-pill {
	background-color: orange;
}
