// Place all the styles related to the PotluckItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.editPotluckItems, .removePotluckItems {
	color:blue;
	font-size:1.1em;
}

.editPotluckItems:hover, .removePotluckItems:hover {
	background-color: white;
	color: blue;
}
