<div class="row">
	<div>
		<span style="font-weight:bold">Category: </span>
			<%= select_tag("existing-category", options_for_select(event.potluck_items.map{|items| [items.category, items.category]})) %>
	</div>
</div>
<div class="row">
	<div id="existing-list">
		<span style="font-weight:bold">Items: </span><textarea style="width:100%" rows="4" placeholder="Enter items here via comma-delimited strings (ex: item1, item2, item3)"></textarea>
	</div>
	<div id="existing-actions">
		<button id="submit-existing-list" class="btn btn-primary">Submit</button>
	</div>
</div>
