<div class="row">
	<div class="span4">
		<span style="font-weight:bold">Category: </span>
		<%= text_field_tag("new-category", nil, :placeholder=>"E.g. Appetizers, boardgames") %>
	</div>
</div>
<div class="row">
	<div id="new-list" class="span4">
	</div>
	<div class="span4">
		<button id="add-new-button" class="btn btn-success">Add items</button>
		<button id="submit-new-list" class="btn btn-primary">Submit</button>
	</div>
</div>
