<div class="row">
	<div>
		<span style="font-weight:bold">Category: </span>
		<%= text_field_tag("new-category", nil, :placeholder=>"E.g. Appetizers, boardgames") %>
	</div>
</div>
<div class="row">
	<div id="new-list">
			<span style="font-weight:bold">Items: </span><textarea style="width:100%" rows="4" placeholder="Enter items here via comma-delimited strings (ex: item1, item2, item3)"></textarea>
	</div>
	<div>
		<button id="submit-new-list" class="btn btn-primary">Submit</button>
	</div>
</div>
