<div id="flash_notice"><%= flash[:notice] %></div>
<div class="row">
	<div class="span7">I want to....</div>
</div>
<div class="row">
	<div class="span7">
		<input type="radio" name="type" value="new"><span style="margin-left:1em">Suggest a new list for the party</span><br/>
		<% if @event.potluck_items.count > 0 %>
			<input type="radio" name="type" value="existing"><span style="margin-left:1em">Suggest items for an existing list</span>
		<% end %>
	</div>
</div>

<div class="row" style="margin: 1.5em 0 1.5em 0">
	<div id="new_suggestion" class="span7">
		<%= render 'new_suggestion' %>
	</div>
</div>

<div class="row" style="margin: 1.5em 0 1.5em 0">
	<div id="existing_list" class="span7">
		<%= render :partial => 'existing_template', :locals=>{:event => @event} %>
	</div>
</div>

<div style="display:none">
<%= render 'form' %>
</div>

<script>
	$(document).ready(function(){

		function toggle(typeChosen){
			if (typeChosen == "new"){
				$("#new_suggestion").show();
				$("#existing_list").hide();
			} else {
				$("#new_suggestion").hide();
				$("#existing_list").show();
			}
		}

		function submitForm(){
			var url = $("#suggestionsForm").prop("action"), serialized_form = $("#suggestionsForm").serialize();
			$.ajax({
				url: url,
				dataType: "html",
				type: "POST",
				data: serialized_form,
				async: false,
				success: function(data, successText){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Suggestion has been submitted for this event");
					$("#readonly_suggestions").click();
				},
				error: function(xhr){
					$("#flash_notice").addClass("alert alert-error");
					var responseObject = JSON.parse(xhr.responseText);
					var stringResponse = "We cannot submit your suggestion until you address the following: <ul>";
					for (var key in responseObject){
						stringResponse += "<li>"+responseObject[key]+"</li>"
					}
					$("#flash_notice").html(stringResponse+"</ul>");
				}
			});
			return false;
		}

		function addErrorBackgroundFill(element){
			element.css('background-color','red');
		}

		function removeErrorBackgroundFill(element){
			element.css('background-color','');
		}

		function passedValidation(categoryElement, listElement){
			var counter = 0;
			if ($.trim(categoryElement.val()).length == 0){
				addErrorBackgroundFill(categoryElement);
				counter++;
			}
			$.each(listElement.find("textarea"), function(index, elem){
				var list = $(elem).val();
				if ($.trim(list).length == 0){
					addErrorBackgroundFill($(elem));
					counter++;
				}
			});
			return counter == 0;
		}

		function fillInFormForSubmission(type, categoryElement, listElement){
			var category = categoryElement.val(), lists = [];
			if (passedValidation(categoryElement, listElement)) {
				lists = listElement.find("textarea").val().split(",");
				$("form").find("#suggestion_new_or_existing").val(type);
				$("form").find("#suggestion_category").val(category);
				$("form").find("#suggestion_suggested_items").val(JSON.stringify(lists));
				submitForm();
			}
		}

		$("input[type=radio]").change(function(){
			var typeChosen = $(this).val();
			toggle(typeChosen);
		});

		$("input[type=radio]").eq(0).prop("checked",true).change();

		$("#new-category").click(function(){
			removeErrorBackgroundFill($(this));
		});

		$("textarea").click(function(){
			removeErrorBackgroundFill($(this));
		});

		$("#existing-category").change(function(){
			if ($(this).val() == "None"){
				$("#existing-list").hide();
				$("#existing-actions").hide();
			} else {
				$("#existing-list").show();
				$("#existing-actions").show();
			}
		});

		$("#existing-category").trigger("change");

		$("#submit-new-list").click(function(){
			fillInFormForSubmission("New", $("#new-category"), $("#new-list"));
		});

		$("#submit-existing-list").click(function(){
			fillInFormForSubmission("Existing",$("#existing-category"), $("#existing-list"));
		});

	});
</script>
