<div class="row">
	<div class="span6">
		<h3>New</h3>
		<% if @event.suggestions.select{|suggestion| suggestion.new_or_existing.eql?("New") }.count == 0 %>
			None at the moment
		<% else %>
			<% @event.suggestions.select{|suggestion| suggestion.new_or_existing.eql?("New")}.each do |suggestion| %>
				<span style="font-weight:bold;font-size:1em"><%= suggestion.category %>: </span><%= suggestion.suggested_items.join(",") %><br/>
			<% end %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span6">
		<h3>Existing</h3>
		<% if @event.suggestions.select{|suggestion| suggestion.new_or_existing.eql?("Existing") }.count == 0 %>
			None at the moment
		<% else %>
			<% @event.suggestions.select{|suggestion| suggestion.new_or_existing.eql?("Existing")}.each do |suggestion| %>
				<span style="font-weight:bold;font-size:1em"><%= suggestion.category %>: </span><%= suggestion.suggested_items.join(",") %><br/>
			<% end %>
		<% end %>
	</div>
</div>
